/include/ "system-conf.dtsi"

/ {
/*------------------ PS-PL CLK --------------------*/
  fclk0: fclk0 {
    status = "okay";
    compatible = "xlnx,fclk";
    clocks = <&zynqmp_clk PL0_REF>;
    //clocks = <&zynqmp_clk 71>;
    clock-names = "pl_clk0";
  };
};

/*-------------------- SD0 eMMC ----------------*/
&sdhci0 {
    // 1.8V
    bus-width = <8>;
};


/*-------------------- SD1 sd2.0 ----------------*/
&sdhci1 {
    // 3.3V
    disable-wp;
    no-1-8-v;
};


/*-------------------- USB 2.0 disabled (no USB in XSA) ----------------*/
&usb0 {
    status = "disabled";
};

&dwc3_0 {
    status = "disabled";
};


/*------------------ ETH PHY --------------------*/
&gem3 {
    phy-handle = <&phy0>;

    nvmem-cells = <&eth0_addr>;
    nvmem-cell-names = "mac-address";

    //required otherwise petalinux gives a static address here
    /delete-property/ local-mac-address;

    phy0: phy0@1 {
        device_type = "ethernet-phy";
        reg = <1>;
    };
};


/*-------------------- QSPI ---------------------*/
&qspi {
    num-cs = <2>;

    flash@0 {
        compatible = "jedec,spi-nor";
        reg = <0>, <1>;
        parallel-memories = /bits/ 64 <0x10000000 0x10000000>;  
        /* 0x10000000 =  256MB dual as maximum; 
           this is a proprietary property from u-boot/linux-xlnx. it is used in u-boot and does work if it is larger than the connected qspi, even though the displayed size if wrong
           we implemented a linux patch that uses the size which is read back from the qspi itself
        */
        spi-rx-bus-width = <4>;
        spi-tx-bus-width = <4>;
        spi-max-frequency = <108000000>; // max. frequency also depends on the QSPI chip
                                         // here 108MHz for N25Q512A (Fast Read Quad IO STR, 8 Dummy Cycles, quad SPI protocol)

        #address-cells = <1>;
        #size-cells = <1>;
    };
};


/*------------------ I2C --------------------*/
&i2c0 {
    eeprom: eeprom@50 {
        compatible = "microchip,24aa025", "atmel,24c02";
        reg = <0x50>;
            
            #address-cells = <1>;
            #size-cells = <1>;
            eth0_addr: eth-mac-addr@FA {
              reg = <0xFA 0x06>;
            };
        };
};

/*
 * The OLED SPI interface is connected to PS MIO SPI0.
 *     - CS0 is OLED
 */
&spi0 {
    #address-cells=<1>;
    #size-cells=<0>;
    status = "okay";
    num-cs = <1>;
    //bus-num = <0>;        // may not be needed
    is-decoded-cs = <0>;

    spidev@0x00 {
        compatible = "spidev";              // normal use
        //compatible = "rohm,dh2228fv";     // NOTE: use this if running PetaLinux 2022.1 (see note in title block)
        //compatible = "oled_mftr,oled_pn"; // NOTE: use this if specific oled driver is available

        /* Max SPI clock frequency via Zynq EMIO is 25MHz */
        spi-max-frequency = <25000000>;

        /* slave number - CS */
        reg = <0>;

        /* Set SPI mode = 0, adjust if necessary */
        spi-cpol = <0>;
        spi-cpha = <0>;
    };
};

/*
 * The clock device AD9913 is connected to PS SPI1 through EMIO through the PL.
 *     - CS0 is AD9913
 *     - CS1 is ???
 */
&spi1 {
    #address-cells=<1>;
    #size-cells=<0>;
    status = "okay";
    num-cs = <1>;
    //bus-num = <1>;        // may not be needed
    is-decoded-cs = <0>;

    spidev@0x00 {
        compatible = "spidev";          // normal use
        //compatible = "rohm,dh2228fv"; // NOTE: use this if running PetaLinux 2022.1 (see note in title block)

        /* Max SPI clock frequency via Zynq EMIO is 25MHz */
        spi-max-frequency = <25000000>;

        /* slave number - CS */
        reg = <0>;

        /* Set SPI mode = 0, adjust if necessary */
        spi-cpol = <0>;
        spi-cpha = <0>;
    };

    spidev@0x01 {
        compatible = "spidev";          // normal use
        //compatible = "rohm,dh2228fv"; // NOTE: use this if running PetaLinux 2022.1 (see note in title block)

        /* Max SPI clock frequency via Zynq EMIO is 25MHz */
        spi-max-frequency = <25000000>;

        /* slave number - CS */
        reg = <1>;

        /* Set SPI mode = 0, adjust if necessary */
        spi-cpol = <0>;
        spi-cpha = <0>;
    };
};

/ {
  dma_proxy_rx: dma_proxy_rx {
      compatible = "xlnx,dma_proxy";
      dmas = <&axi_dma_0 0>;        /* channel 0 = S2MM */
      dma-names = "dma_proxy_rx";
  };
};
